body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.mainDiv {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    background-color: #0099ff;
    font-size: 0;
}

.firstDiv, .secondDiv, .thirdDiv {
    background-color: #0099ff;
}

.mainDiv > div {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    box-sizing: border-box; /* border will be in ellipse */
    display: inline-block;
}

.red, .redCir {
    background-color: red;
    transition-property: transform;
    transition-duration: 3s;
    
}

.yellow, .yellowCir {
    background-color: yellow;
    transition-property: transform;
    transition-duration: 3s;
}

.green, .greenCir {
    background-color: green;
    transition-property: transform;
    transition-duration: 3s;
}

.firstDiv > div, .secondDiv > div, .thirdDiv > div {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 2px solid black;
    box-sizing: border-box;
    
}

.redCir, .yellowCir, .greenCir {
    border-radius: 50%;
}

.red:hover, .yellow:hover, .green:hover
{
    transform: rotateY(180deg);
}

.redCir:hover, .yellowCir:hover, .greenCir:hover {
    opacity: 0%;
}