body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.mainDiv {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    background: #0099ff;
}

.mainDiv > div {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: border-box; /* border will be in ellipse */
}

.red {
    background-color: red;
    
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}